body.custom-bg-active::before {
    display: none !important;
}

body.custom-bg-active .bg-effects,
body.custom-bg-active .bg-rain,
body.custom-bg-active .bg-mesh,
body.custom-bg-active #city-canvas {
    display: none !important;
    opacity: 0 !important;
}

body.custom-bg-active {
    background-color: #000;
}